html, body {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background: #ededed;
}

.body {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    padding-top: 10rem;
    flex: 1;
}

.calculator {
    width: 25rem;
    height: 35rem;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    background: rgb(52, 81, 97);
    border: .15rem solid black;
    border-radius: 1rem;
}

row {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

key {
    flex: 1;
    flex-wrap: wrap;
    background: rgb(105, 138, 145);
    border: .1rem solid rgb(0, 0, 0);
    margin: .5rem;

    font-family: arial;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 1.5rem;
}
.key {

    text-align: center;
    padding-top: 1.5rem; /*this is a bandaid vertical align fix*/
}
.display {
    
}

.display-key {
    text-align:right;
    padding: 1rem;
    font-size: 2rem;
}

.clear-delete {

}
.clear {
    background: rgb(233, 151, 95);
    font-size: 1.5rem;
}

.delete {
    background: rgb(233, 151, 95);
    font-size: 1.5rem;
}

.operator {
    text-align: center;
    padding-top: 1.5rem; /*this is a bandaid vertical align fix*/
}

.equals {
    text-align: center;
    padding-top: 1.5rem; /*this is a bandaid vertical align fix*/
}

